.page{
    background: #2A2C2F;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}

@media all and (max-width: 767px) {
    .page {
        padding: 0;
    }
} 
