.photo-grid{
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    gap: 14px;
    margin-bottom: 92px;
}
/*
@media all and (max-width: 1225px) {
    .photo-grid {
       max-width: 880px;
    }
} 

@media all and (max-width: 878px) {
    .photo-grid {
       max-width: 582px;
    }
} 

@media all and (max-width: 582px) {
    .photo-grid {
       max-width: 284px;
    }
} 
*/

@media all and (max-width: 1024px) {
    .photo-grid {
       max-width: 928px;
       gap: 14px;
    }
} 

@media all and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
        margin-bottom: 88px;
    }
} 

@media all and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
        gap: 12px;
        margin-bottom: 64px;
    }
} 