.photo-grid{
    max-width: 1184px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    gap: 14px;
    margin-bottom: 92px;
}

@media all and (max-width: 1225px) {
    .photo-grid {
       max-width: 880px;
    }
} 

@media all and (max-width: 878px) {
    .photo-grid {
       max-width: 582px;
    }
} 

@media all and (max-width: 582px) {
    .photo-grid {
       max-width: 284px;
    }
} 