.intro__list{
    min-width: 288px;
    max-width: 690px;
    line-height: 18px;
    font-size: 12px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    margin: 0 16px;
    padding: 0;
}