.cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;    
    margin: auto;
    text-align: center;
    z-index: 5;
    color: #fff;
}

@media all and (max-width: 768px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
} 