.footer__link-container{
    display: block;
}

@media all and (max-width: 320px) {
    .footer__link-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 32px;
        margin-bottom: 48px;
    }
} 
