.cover__overlay{
    position: absolute;
    z-index: 40;
    margin: auto;
    transition: opacity .3s ease;
}

.cover__overlay:hover{
    background-color: #2A2C2F;
    cursor: pointer;
    opacity: 0.2;
}