.cover__title{
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: auto;
    text-align: center;
    z-index: 5;
    margin-bottom: 32px;
}


@media all and (max-width: 320px) {
    .cover__title {
        width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
} 