.places__url-heading{
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

@media all and (max-width: 767px) {
    .places__url-heading {
        margin-left: 16px;;
    }
} 

